[Unit]
After=network.target
Description=SecretChannel

[Service]
Type=simple
WorkingDirectory=/root/secret-channel/
ExecStart=/usr/bin/python3.10 app.py
Restart=always

[Install]
WantedBy=multi-user.target